name: Automate PR
on:
  issues:
    types:
      - labeled

permissions:
  contents: read

jobs:
  Automate:
    if: github.event.label.name == 'Automate'
    runs-on: ubuntu-latest
    permissions:
      issues: write
      actions: write
    
    steps:
      - uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f
        with:
          repository: step-security/secure-repo
    
      - name: Automate PR
        uses: step-security/secure-repo/Automate-PR@98ff385ea512d8ac7a1445f95e199f6864f439e1
        with:
          github-token: ${{secrets.PAT }}
          issue-id: ${{ github.event.issue.number}}